@import 'theme_colors.scss';

body.cars
{
  .cur-page-top-bg-image
  {
    background: rgb(230, 230,  230);
    background-image: url('../images/main-bg.jpg'); 
    background-size: 50vh 50vh;
    color: $theme-text-color-basic;
  }

  .text-section-desc-img
  { width: 300px; }

  .cars-list
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    /* padding: 20px; */

    .card-wrapper
    {
      padding: 20px;
      height: auto;

      .custom-card
      {
        background: #f4f4f4;
        border-color: #f4f4f4;
        width: 100%;
        padding: 5px;
        transition: 0.3s;

        &:hover
        { background: #e0e0e0; }

        .card-body
        {
          * {
            display: block;
            margin-bottom: 4px;
          }
          
          span, a
          { font-size: 85%; }
        }
      }

      .browse-cars-btn
      {
        visibility: hidden;
        opacity: 0;
        margin: 0;
        margin-top: 20px;
        width: 100%;
        padding: 12px;
        transform: scale(0.8);
        transition: 0.3s;
      }

      &:hover .browse-cars-btn
      {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

