$theme-color-basic: rgb(33, 20, 220);
$theme-color-light-9: rgba(33, 20, 220, 0.9);
$theme-color-light-8: rgba(33, 20, 220, 0.8);
$theme-color-light-7: rgba(33, 20, 220, 0.7);
$theme-color-light-6: rgba(33, 20, 220, 0.6);
$theme-color-light-5: rgba(33, 20, 220, 0.5);
$theme-color-light-4: rgba(33, 20, 220, 0.4);
$theme-color-light-3: rgba(33, 20, 220, 0.3);
$theme-color-light-2: rgba(33, 20, 220, 0.2);
$theme-color-light-1: rgba(33, 20, 220, 0.1);
$theme-text-color-basic: rgb(58, 67, 82);
$theme-text-color-light-9: rgba(58, 67, 82, 0.9);
$theme-text-color-light-8: rgba(58, 67, 82, 0.8);
$theme-text-color-light-7: rgba(58, 67, 82, 0.7);
$theme-text-color-light-6: rgba(58, 67, 82, 0.6);
$theme-text-color-light-5: rgba(58, 67, 82, 0.5);
$theme-text-color-light-4: rgba(58, 67, 82, 0.4);
$theme-text-color-light-3: rgba(58, 67, 82, 0.3);
$theme-text-color-light-2: rgba(58, 67, 82, 0.2);
$theme-text-color-light-1: rgba(58, 67, 82, 0.1);
